html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
}

.firstcontainer {
  display: flex;              
  flex-direction: column;     
  justify-content: center;    
  align-items: center;      
  height: 100vh;   
  text-align: center;     
}


.secondcontainer {
  display: flex;              
  flex-direction: column;     
  justify-content: center;    
  align-items: center;      
  height: 100vh;   
  text-align: center;     
}


.thirdcontainer {
  display: flex;              
  flex-direction: column;     
  justify-content: center;    
  align-items: center;      
  height: 100vh;   
  text-align: center;     
}

h1 {
  font-size: 3rem;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 0  ;
}

section {
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Second section */
.second {
  background-color: #EEE5D5;;
  color: #323F2F;
  text-align: center;
  padding: 4rem 2rem;
}

.ourstory h2 {
  font-weight: 300;
  letter-spacing: 2px;
}
