.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 2vh 0vh;
  transition: background-color 0.9s ease, color 0.8s ease;
  max-height: 8vh;
  width: 100%;
  justify-content: space-evenly;
}

.logo {
  position: absolute; 
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  height: 7.5vh;
  min-height: 7.5vh;    
  max-height: 7.5vh;
  width: auto;
}

.nav-left ul,
.nav-right ul {
  top: 20%;
  list-style: none; 
  display: flex;    
  padding: 0; 
  gap: 4rem;
}

.nav-left li,
.nav-right li {
  align-items: center;
  margin: 0;
  gap: 2rem;
}

.nav-left a,
.nav-right a {
  top: 20%;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  transition: color 0.3s ease;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  text-align: center;  
}


.header-light[data-theme="light"] {
  color: #323F2F;
  background-color: #EEE5D5;
}

.header-dark[data-theme="dark"]{
  color: #EEE5D5;
  background-color: #323F2F;
}

.header-light a {
  color: #323F2F;
}

.header-dark a {
  color: #EEE5D5;
}

.nav-left a:hover,
.nav-right a:hover {
  color: grey;
  text-underline-offset: 7px;
  cursor: pointer;
}

.logo:hover {
  cursor: pointer;
}

@media (max-width: 775px) {

  .logo {
    padding: 0.6rem;
  }
  .nav-left, .nav-right {
    display: none;
  }
}